
*.m~
*.asv
*.pdf
*.log
*.dat 
datasets/AdultDataset
datasets/AirportsDataset
datasets/AmazonDataset
datasets/BrainDataSet
datasets/BXBooksDatasetv
datasets/CollegeMsgDataset
datasets/CrimeDataset
datasets/EconomicSectorDataset
datasets/FacebookDataset
datasets/JesterDataset
datasets/MovieLensDataset
datasets/RSMovielensDataset
datasets/TemperatureDataset
datasets/TemperatureDatasetHourlyUS
datasets/TemperatureTimeEvolvingDataset
