
*.m~
*.asv
*.pdf
*.log
*.dat 
lib/datasets/AdultDataset/*
lib/datasets/AirportsDataset/*
lib/datasets/AmazonDataset/*
lib/datasets/BrainDataSet/*
lib/datasets/BXBooksDataset/*
lib/datasets/CollegeMsgDataset/*
lib/datasets/EconomicSectorDataset/*
lib/datasets/FacebookDataset/*
lib/datasets/JesterDataset/*
lib/datasets/MovieLensDataset/*
lib/datasets/RSMovielensDataset/*
lib/datasets/TemperatureDataset/*
lib/datasets/TemperatureDatasetHourlyUS/*
lib/datasets/TemperatureTimeEvolvingDataset/*